\n-- Check if payment_settings table exists\nSELECT table_name FROM information_schema.tables WHERE table_name = 'payment_settings';\n\n-- Create table if not exists\ncreate table if not exists payment_settings (\n  id uuid primary key default gen_random_uuid(),\n  feature_name text,\n  is_locked boolean default false,\n  unlock_price integer,\n  updated_at timestamp default now()\n);\n
