@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer components {
    .pt-16 {
      background-color: #1d1c21 !important; /* Custom background color */
      color: white !important;
      transition: background-color 0.3s ease !important;
      padding-top: 2px !important;
      padding-bottom: 4px !important;
    }

  }